@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*Global css*/

body {
  font-family: 'Quicksand';
}

.margin{
  padding-bottom: 70px;
}

.btn{
  color: #EF5E31;
  border-color: #EF5E31;
}

/*Section 1*/

.bg-1{
  background-image: url('assets/backgrounds/landing.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.slogon{
  color: #ffffff;
  line-height: 0.4;
  font-weight: lighter;
}

/*Navigation*/

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   position: absolute; /*overlapping the navbar with the bg-1 div*/
   width: 100%;
}

.navbar-toggle {
    display: block; /*remains navbar-toggle no matter wt screen size is*/
    border: none;
    outline: none;
    padding-left: 20px;
}

.navbar-inverse .navbar-nav>li>a{
  color: #000;
}

.navbar-collapse.collapse {
  /*remains navbar-toggle no matter wt screen size is*/
    display: none!important;
}
.navbar-collapse.collapse.in {
  /*remains navbar-toggle no matter wt screen size is*/
    display: block!important;
}

.navbar-nav>li {
  /*causing the content of the navbar to be vertical
  removing becomes horizontal*/
    float: none;
}


/*Happy Party Breakfast Lunch Dinner*/

.happyTime{
  margin: inherit;
  border: inherit;
  border-radius: 0;
  width: 100%;
  font-size: 15px;
  height:60px;
}

.happyTime:hover{
  opacity: 0.3;
}

.bar{
  height: 120px;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bar:hover{
  opacity: 0.3;
}

#happyHour{
  background-color: #E4E5E7;
}

#partyTime{
  background-color: #EE562B;
}


.bar>p{
  padding-top: 50px;
}

#breakfast{
  background-image: url('assets/foodtop/breakfast.jpg');
}

#lunch{
  background-image: url('assets/foodtop/lunch.jpg');
}

#dinner{
  background-image: url('assets/foodtop/dinner.jpg');
}

.bg-8{
  background-image: url('assets/backgrounds/subscribe.jpg');
  color: #ffffff;
}

/*Fast Food & Drinks*/

/*Fastfood*/

.border{
  /*Making a White Border with shadow*/
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fastfood-img{
  width: 100%;
}

.ffContent-justify-xs{
  padding-top: 20px;
  padding-left:40px;
}

@media (min-width: 768px) {
    .ffContent-justify-sm{
      padding-top: 0px;
      padding-left:40px;
    }
}

/*Drinks*/

.dText-justify-xs {
    text-align: left;
    padding-left:40px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .dText-justify-sm {
     text-align: right;
     padding-bottom: 0px;
     padding-right:40px;
    }
}

.drinkImg{
  max-width: 440px;
}

/*Carousel Menu*/

.bg-7{
  background-image: url('assets/backgrounds/foodsBg.jpg');
}

#menu{
  background-color: white;
  padding-bottom: 3%;
  padding-top: 8%;
}

#foodAlbum{
  min-height: inherit;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #EF5E31;
    opacity: 1;
    text-shadow: none;
}

.body3l{
  bottom: 25%;
  right: 50%;
}

.body3r{
  bottom: 25%;
  left: 70%;
}

.carousel-image {
  width:100%;
}

.nav-tab{
  background-color: #e3e3e3;
}

.menutab{
  color: #585858;
}

.nav-tab .active{
  background-color: #ffffff;
  color: #EF5E31 !important;
}

.menutab:hover .menutab:focus{
  color: #585858;
}

.col-xs-7{
  border-style: solid;
  border-width: 1px;
  border-color: #EAEAEA;
  border-top: inherit;
  border-bottom: inherit;
  border-left: inherit;
}

.col-xs-5{
  padding-right: 30px;
}

.col-xs-5 >h5{
  color: #EF5E31;
}

.col-xs-7 > h5{
  margin-bottom: inherit;
  color: #EF5E31;
}

.col-xs-8 > h5{
  margin-top: inherit;
}

/* Carousel Quote*/
#review{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#quote-carousel {
    padding: 0px;
    margin-top: 0px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #EF5E31;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 0px;
}
#quote-carousel .carousel-control.left {
    height: -50px;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 100%;
    opacity: 1;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 50px;
    height: 50px;
    opacity: 1;
    overflow: hidden;
}

@media (max-width: 620px) {
    .carousel-indicators-xs{
      display: none;
    }
}

.carousel-inner {
    min-height: 170px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.body4l{
  top: 65%;
  opacity: 1;
  left:13%;
}

.body4r{
  top: 65%;
  opacity: 1;
}

/*Subscribe*/

input{
  color: #ffffff;
  font-size:10px;
  font-family: serif;
  width: 250px;
  height: 34px;
  font-size: 14px;
  padding-left: 20px;
  background-color: rgba(252, 252, 252, 0.2);
  border: inherit;
  border-radius: 2px;
}

#subscribe{
  background-color: #EE562B;
  color: #FFFFFF;
  border-radius: 0%;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 2px;
  margin-left: 20px;
}

/* Footer*/
footer{
  color: #ffffff;
}

.bg-9{
  background-color: #EE562B;
}

#logo{
  float: right;
}

#brandname{
  float: left;
  padding-top: 30px;
  padding-left: 10px;
}

.bg-9 > .row > .col-xs-6{
  margin:inherit;
}

.footerimg{
  padding-left: 20px;
}

#lastsentence{
  padding-top: 30px;
  padding-bottom: 20px;
}

/*Counting*/
#counting{
  background-color: #000;
  padding: 20px;
  color: #ffffff;
}
