@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand';

}

.bg-1{
  background-image: url('assets/backgrounds/landing.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.white{
  color: #ffffff;
  line-height: 0.4;
  font-weight: lighter;
}

.margin-top{
  padding-top: 100px;
}

.margin-top-little{
  padding-top: 50px;
}

.margin{
  padding-bottom: 70px;
}

.drink-sm .margin{
  padding-bottom: 10px;
}

.icon-bar{
  width: 50px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

〉.navbar .navbar-inverse .navbar-fixed-top{
  background:#F15A29;
}

.navbar-toggle {
    display: block;
    border: none;
    outline: none;
    padding-left: 20px;

}

.navbar-inverse .navbar-nav>li>a{
  color: #000;
}

.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-collapse.collapse.in {
    display: block!important;
}
/*.navbar-nav {
    float: none!important;
}*/
.navbar-nav>li {
    float: none;
}


.bg-2{
  background-color: #E4E5E7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg-3{
  background-color: #EE562B;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg-4{
  background-image: url('assets/foodtop/breakfast.jpg');
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-5{
  background-image: url('assets/foodtop/lunch.jpg');
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-6{
  background-image: url('assets/foodtop/dinner.jpg');
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hover:hover{
  opacity: 0.3;
}

.bg-7{
  background-image: url('assets/backgrounds/foodsBg.jpg');
}

.bg-8{
  background-image: url('assets/backgrounds/subscribe.jpg');
  color: #ffffff;
}

.fastfood{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fastfood1{
  width: 100%;

}

.fastfood-content{
  padding-left:40px;
}
.drink{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drink1{
  max-width: 440px;
}

.drink-content{
  padding-right:40px;
}

.btn{
  color: #EF5E31;
  border-color: #EF5E31;
}

.spread{
  width:100%;
}

.menu{
  background-color: white;
  padding-bottom: 5%;
  padding-top: 70px;
}

#foodAlbum{
  min-height: inherit;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #EF5E31;
    opacity: 1;
    text-shadow: none;
}

.body3l{
  bottom: 25%;
  right: 50%;
}

.body3r{
  bottom: 25%;
  left: 70%;
}

.text-justify-xs {
    text-align: left;
    padding-left:40px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .text-justify-sm {
     text-align: right;
     padding-bottom: 0px;
    }
}

.padding-top-xs{
  padding-top: 20px;
}

@media (min-width: 768px) {
    .padding-top-sm{
      padding-top: 0px;
    }
}

.margin-top-xs{
  padding-top: 20px;
}

@media (min-width: 768px) {
    .margin-top-sm{
      padding-top: 100px;
    }
}

.drink-xs{
  padding-top: 20px;
}

@media (min-width: 768px) {
    .drink-sm{
      padding-top: 50px;
    }
}

.carousel-image {
  width:100%;
}

.nav-tab{
  background-color: #e3e3e3;
}

.menutab{
  color: #585858;
}

.nav-tab .active{
  background-color: #ffffff;
  color: #EF5E31 !important;
}

.nav-tab:hover{
  background-color: #E3E3E3;
}


.col-xs-7{
  border-style: solid;
  border-width: 1px;
  border-color: #EAEAEA;
  border-top: inherit;
  border-bottom: inherit;
  border-left: inherit;
}

.col-xs-5{
  padding-right: 30px;
}

.col-xs-5 >h5{
  color: #EF5E31;
}

.col-xs-7 > h5{
  margin-bottom: inherit;
  color: #EF5E31;
}

.col-xs-8 > h5{
  margin-top: inherit;
}

/* Carousel */

#quote-carousel {
    padding: 0px;
    margin-top: 0px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #EF5E31;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 0px;
}
#quote-carousel .carousel-control.left {
    height: -50px;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 100%;
    opacity: 1;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 50px;
    height: 50px;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 170px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.body4l{
  top: 65%;
  opacity: 1;
  left:13%;
}

.body4r{
  top: 65%;
  opacity: 1;
}

/*Subscribe*/

input{
  color: #ffffff;
  font-size:10px;
  font-family: serif;
  width: 250px;
  height: 34px;
  font-size: 14px;
  padding-left: 20px;
  background-color: rgba(252, 252, 252, 0.2);
  border: inherit;
  border-radius: 2px;
}

#subscribe{
  background-color: #EE562B;
  color: #FFFFFF;
  border-radius: 0%;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 2px;
}

/* Footer*/
.bg-9{
  background-color: #EE562B;
}

#logo{
  float: right;
}

#brandname{
  float: left;
  padding-top: 30px;
  padding-left: 10px;
}

.bg-9 > .row > .col-xs-6{
  margin:inherit;
}

.footerimg{
  padding-left: 20px;
}

#lastsentence{
  padding-top: 30px;
  padding-bottom: 20px;
}
